*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
.container{
    background-color:rgb(8, 8, 8);
    height: 100vh;
}

.header{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.div-logo{
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    height: 70px;
    width: 70px;
}
.logo{
    width: 80px;
    position: absolute;
    margin-left: -6px;
    margin-top: 10px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}
nav ul li a:hover{
    color: blueviolet;
}
.currentpage{
    color: blueviolet;
}
.btn-login{
    background-color: blueviolet;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    transition: .3s;
}
.btn-login:hover{
    background-color: rgba(180, 68, 231, 0.4);
    color:#fff;
}
.content{
    width: 100%;
    height: 890px;  

}
.content img{
    height: 70vh;
    border-radius: 50px;
}
.main{
    width: 90%;
    height: 100%;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.main-text{
    margin-left: 10%;
}

.main-text h4{
    font-size: 25px;
    color: rgb(158, 92, 175);
    margin-bottom: 10px;
}
.main-text h1{
    color: #fff;
    font-size: 60px;
    margin-bottom: 60px;
}
span{
   color: blueviolet;
}
.main-text h3{
    color: #fff;
    font-size: 35px;
}
.more-btn{
    height: 65px;
    width: 120px;
    border-radius: 10px;
    color: #fff;
    background-color: blueviolet;
    margin-top: 100px;
    margin-left: 25%;
    font-size: 25px;
    font-weight: bold;
    border: none;
    transition: .3s;
}
.more-btn:hover{
    background-color: rgba(180, 68, 231, 0.4);

}

.about{
    width: 100%;
}

.about-main{
    width: 90%;
    height: 890px;
    margin: 0px 100px;
    display: flex;
    align-items: center;
}
.about img{
    height: 70vh;
    border-radius: 50px;
}
.about-text{
    margin-left: 10%;
    width: 45%;
    height: 70vh;
}

.about-text h2{
    font-size: 60px;
    color: #fff;
    margin-bottom: 10px;
}
.about-text h5{
    color: #fff;
    font-size: 40px;
    margin-bottom: 60px;
    
}
.about-text p{
    font-size: 25px;
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-style: italic;
    line-height: 40px;
    
}
span{
   color: blueviolet;
}
.main-text h3{
    color: #fff;
    font-size: 35px;
}
.media-container{
    display: flex;
    justify-content: center;
    
}
.media-container img{
    height: 50px;
    margin:50px 10px;
    padding: 10px;
    transition: .3s;
}
.media-container img:hover{
   transform: scale(1.3);
}

.skill{
    width: 100%;
}
.skill-main{
    width: 90%;
    height: 890px;
    margin: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-bar{
    background-color: rgb(149, 126, 172);
    height: 550px;
    width: 30px;
}
.skill-text{
    margin-left: 10%;
    width: 50%;
    height: 65vh;

}
.bar1{
    background-color: rgb(71, 219, 12);
    height: 15px;
    width: 380px;

}
.bar2{
    background-color: rgb(167, 157, 157);
    height: 15px;
    width: 350px;

}
.bar3{
    background-color: rgb(199, 60, 60);
    height: 15px;
    width: 300px;
}
.bar4{
    background-color: rgb(22, 165, 231);
    height: 15px;
    width: 270px;

}
.bar5{
    background-color: rgb(196, 20, 173);
    height: 15px;
    width: 310px;
    margin-left: 20%;
}
.bar6{
    background-color: rgb(84, 59, 199);
    height: 15px;
    width: 390px;
    margin-left: 20%;

}
.one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.two{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.three{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.four{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.five{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.six{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.html{
    font-size: 50px;
    margin-bottom: 20px;
    color: #fff;
}
.css{
    font-size: 50px;
    margin-bottom: 10px;
    color: #fff;

}
.javascpt{
    font-size: 50px;
    margin-bottom: 20px;
    color: #fff;

}
.react{
    font-size: 50px;
    margin-bottom: 20px;
    color: #fff;

}
.node{
    font-size: 50px;
    margin-bottom: 20px;
    color: #fff;

}
.django{
    font-size: 50px;
    color: #fff;
}
.bar-cntainer{
    height: 70%;
    width: 100%;
    margin: 12% 0px;
}

.contact-main{
    width: 90%;
    height: 890px;
    margin: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-label-image{

    background-color: #fff;
    border-radius: 50px 0px 0px 50px;
    height: 70vh;
    width: 60vh;
    

}
.contact img{
    height: 70%;
    border-radius: 50px 0px 0px 0px;
    width: 100%;
}
.contact-form{
    background-color:rgb(253, 252, 252);
    width: 30%;
    height: 70vh;
    border-radius: 0px 50px 50px 0px;

}
.contact-form h2{
    font-size: 70px;
    padding: 40px 0px 0px 30px;
}
.contact-form form{
    box-sizing: border-box;
    padding: 30px;
}
.contact-form .inputbox{
   margin-top: 10px;
}
.contact-form .inputbox input,
.contact-form .inputbox textarea{
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;
    border: none;
    margin: 10px 0px;
    border-bottom: 2px solid blueviolet;
    outline: none;

}
.contact-form .inputbox input[type="submit"]{
    color: #fff;
    background-color: blueviolet;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 50px ;
    height: 60px;
    width: 80%;
    font-size: 20px;
    font-weight: bold;
    transition: .3s;
}
.contact-label-media{
    height: 30%;
    width: 100%;
    border-radius: 0px 0px 0px 50px;
    overflow: hidden;
    
}
.cont1-media {
    display: flex;
    align-items: center;
    
    
}
.cont1-media img{
    height: 60px;
    width: 70px;
    margin: 10px 30px 0px 30px;
}
.cont1-media h5{
    font-size: 16px;
}

.cont2-media {
    display: flex;
    align-items: center;
}
.cont2-media h5{
    font-size: 16px;
}
.cont2-media img{
    height: 55px;
    width: 80px;
    margin: 10px 30px 0px 30px;
    border-radius: 50px;
}
.cont3-media {
    display: flex;
    align-items: center;
}
.cont3-media img{
    height: 49px;
    width: 50px;
    margin: 10px 30px 0px 40px;
    border-radius: 50px;
}
.cont3-media h5{
    font-size: 16px;
}
.contact-form .inputbox input[type="submit"]:hover{
    background-color: rgba(90, 5, 121, 0.993);
}

.mediacontact-container{
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 40px;
    resize: none;
    
}
.mediacontact-container img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin:0px 10px;
    padding: 10px;
    transition: .3s;
}
.mediacontact-container img:hover{
   transform: scale(1.3);
}
.login-main{
    width: 90%;
    height: 890px;
    margin: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login img{
    height: 70vh;
    border-radius: 50px 0px 0px 50px;
    width: 60vh;
}
.login-form{
    background-color:#fff;
    width: 30%;
    height: 70vh;
    border-radius: 0px 50px 50px 0px;

}
.login-form h2{
    font-size: 75px;
    padding: 20px 0px;
    margin-top: 25%;
}
.login-form h5{
    font-size: 25px;
    margin-bottom: 30px ;
    color: rgba(10, 6, 6, 0.548);
    
}
.contact-form form{
    box-sizing: border-box;
    padding: 30px;
}
.login-form .inputbox{
   margin-top: 10px;
}
.login-form .inputbox input,
.login-form .inputbox textarea{
    width: 90%;
    padding: 10px 0px;
    font-size: 16px;
    border: none;
    margin: 10px 0px;
    border-bottom: 2px solid blueviolet;
    outline: none;

}

.login-form .inputbox input[type="submit"]{
    color: #fff;
    background-color: blueviolet;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 30px ;
    height: 60px;
    width: 80%;
    font-size: 20px;
    font-weight: bold;
    transition: .3s;
}
.login-form .inputbox input[type="submit"]:hover{
    background-color: rgba(90, 5, 121, 0.993);
}
.passforgot{
    font-size: 17px;
    color: rgba(93, 18, 163, 0.432);
    margin-left: 65%;
    text-decoration: none;
    
}
.passforgot:hover{
    color: blueviolet;
}
.loginregister{
    margin-top: 20px;
    margin-left: 50%;
    height: 50px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.link1{
    color: blueviolet;
    font-size: 20px;
    font-weight: bold;
    transition: .3s;
    text-decoration: none;
}
.link2{
    color: black;
    font-size: 20px;
    font-weight: bold;
    transition: .3s;
    text-decoration: none;
}
.link2:hover{
    color: blueviolet;
}

.register-main{
    width: 90%;
    height: 890px;
    margin: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register img{
    height: 70vh;
    border-radius: 50px 0px 0px 50px;
    width: 60vh;
}
.register-form{
    background-color:#fff;
    width: 30%;
    height: 70vh;
    border-radius: 0px 50px 50px 0px;

}
.register-form h2{
    font-size: 75px;
    padding: 10px 20px;
    margin-top: 10%;
}
.register-form h5{
    font-size: 20px;
    margin-left: 30px;
    color: rgba(10, 6, 6, 0.548);
    
}
.register-form form{
    box-sizing: border-box;
    padding: 30px;
}
.register-form .inputbox{
   margin-top: 10px;
}
.register-form .inputbox input,
.register-form .inputbox textarea{
    width: 90%;
    padding: 10px 0px;
    font-size: 16px;
    border: none;
    margin: 10px 0px;
    border-bottom: 2px solid blueviolet;
    outline: none;

}

.register-form .inputbox input[type="submit"]{
    color: #fff;
    background-color: blueviolet;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 30px ;
    height: 60px;
    width: 80%;
    font-size: 20px;
    font-weight: bold;
    transition: .3s;
}
.register-form .inputbox input[type="submit"]:hover{
    background-color: rgba(90, 5, 121, 0.993);
}


.bottomask{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-left: 25px;
}

.work-main1{
    width: 90%;
    height: 90%;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.work1{
    height: 90%;
    width: 50%;
    margin: 10px 0px;
    
}
.work1 img{
    border-radius: 50px;
    height: 70%;
    width: 90%;
    margin:0px 20px 60px 50px;
}

.work1 h2{
    color: #fff;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left: 40%;
}
.work1-desc{
    height: 90%;
    width: 50%;
}
.work1-desc h2{
    font-style: italic;
    color: rgb(125, 79, 184);
    margin: 150px 0px 50px 100px;
    font-size: 30px;
}
.work1-desc p{
    font-style: italic;
    color: #fff;
    margin-left: 100px;
    width: 80%;
    height: 35vh;
    line-height: 40px;
    font-size: 25px;
}


.btn-work1-div{
    display: flex;
    justify-content: center;
}
.work1-comment-container{
    background-color: rgba(216, 223, 231, 0.644)
    height: 50px;
    width: 80%;
    display: flex;
    margin: 0px 0px 20px 100px;
    align-items: center;
    justify-content: space-between;
}
.work1-comment-container span{
    margin: 0px 10px;
    color: #fff;
    font-size: 20px;
    background-color: rgb(102, 99, 99);
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-content: center;

}
.work-like-hover:hover{
    background-color: blueviolet;
}
.work1-comment{
    height: 40px;
    width: 80%;
    margin: 0px 100px;
    color: #fff;
    border: none;
    border-bottom: 2px solid hwb(0 96% 3%);
    background-color: black;
    outline: none;
    font-size: 18px;
}




.work-main2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}
.work2{
    height: 90%;
    width: 50%;
    margin: 10px 0px;
    
}
.work2 img{
    border-radius: 50px;
    height: 65%;
    width: 80%;
    margin:0px 10px 0px 150px;
}

.work2 h2{
    color: #fff;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 40%;
}
.work2-desc{
    height: 90%;
    width: 50%;
}
.work2-desc h2{
    font-style: italic;
    color: rgb(125, 79, 184);
    margin: 200px 0px 50px 100px;
    font-size: 30px;
}
.work2-desc p{
    font-style: italic;
    color: #fff;
    margin-left: 80px;
    width: 75%;
    height: 35vh;
    line-height: 40px;
    font-size: 25px;
}


.btn-work2-div{
    display: flex;
    justify-content: center;
}
.work2-comment-container{
    background-color: rgba(216, 223, 231, 0.644)
    height: 50px;
    width: 70%;
    display: flex;
    margin: 0px 0px 20px 100px;
    align-items: center;
    justify-content: space-between;
}
.work2-comment-container span{
    margin: 0px 10px;
    color: #fff;
    font-size: 20px;
    background-color: rgb(102, 99, 99);
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-content: center;

}
.work2-comment{
    height: 40px;
    width: 70%;
    margin: 0px 100px;
    color: #fff;
    border: none;
    border-bottom: 2px solid hwb(0 96% 3%);
    background-color: black;
    outline: none;
    font-size: 18px;
}

.blog-main{
    width: 90%;
    height: 690px;
    margin: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog form{
    margin-top: 90px;
    margin-left: 37%;
}
.blog form input{
    font-size: 25px;
    box-sizing: border-box;
}
.blog form input[type="text"]{
    height: 50px;
    width: 350px;
    border: none;
    padding: 0px 20px;
    outline: none;
    border-radius: 30px 0px 0px 30px;
    background-color: rgb(204, 204, 195);
    font-style: italic;
}
.blog form input[type="submit"]{
    height: 50px;
    width: 150px;
    border: none;
    padding: 0px 10px;
    outline: none;
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
    color: #fff;
    background-color: rgba(104, 103, 101, 0.836);
    transition: .3s;
}
.blog form input[type="submit"]:hover{
    background-color: blueviolet;
}
.blog1{
    height: 50vh;
    width: 50vh;
    margin-right: 30px;
    border-radius: 50px;
    background-color: rgba(104, 103, 101, 0.836);
    transition: .7s;
}
.blog1:hover{
    transform: scale(1.2);
    background-color: rgba(197, 197, 183, 0.959);
}
.blog2{
    height: 50vh;
    width: 50vh;
    margin: 0px 0px;
    border-radius: 50px;
    background-color: rgba(104, 103, 101, 0.836);
    margin: 0px 30px;
    transition: .7s;

}
.blog2:hover{
    transform: scale(1.2);
    background-color: rgba(197, 197, 183, 0.959);;
}
.blog3{
    height: 50vh;
    width: 50vh;
    margin-left: 30px;
    border-radius: 50px;
    background-color: rgba(104, 103, 101, 0.836);
    transition: .7s;

}
.blog3:hover{
    transform: scale(1.2);
    background-color: rgba(197, 197, 183, 0.959);;
}
.blog1 img{
    height: 30vh;
    width: 96%;
    margin:10px 10px;
    border-radius: 50px;
}
.bl1-desc{
    color: #fff;
    margin: 10px 20px;
    font-size: 20px;
    width: 90%;
    height: 60px;
    overflow: hidden;
    overflow-y: auto;
}
.bl1-desc:hover, .bl2-desc:hover, .bl3-desc:hover{
    color: rgb(83, 31, 133);
}
.bl1-desc-link, .bl2-desc-link, .bl3-desc-link{
    text-decoration: none;
}


.views-blog1{
    color: #fff;
    margin-left: 180px;
}
.bl1-profile{
    height: 80px;
    width: 90%;
    margin: 10px 20px;
    display: flex;
    align-items: center;  

}

.owner1{
    height: 70px;
    width: 70px;
    border-radius: 50px;
    overflow: hidden;
    margin: 10px 30px 10px 10px;
}
.bl1-profile img{
   height: 80px;
   width: 70px;
   margin-left: 1px;
}
.blog2 img{
    height: 30vh;
    width: 96%;
    margin:10px 10px;
    border-radius: 50px;
}
.bl2-desc{
    color: #fff;
    margin: 10px 20px;
    font-size: 20px;
    height: 60px;
    overflow: hidden;
    overflow-y: auto;
}
.bl2-profile{
    height: 80px;
    width: 80%;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    width: 90%;
}
.views-blog2{
    color: #fff;
    margin-left: 180px;
}

.owner2{
    height: 70px;
    width: 70px;
    border-radius: 50px;
    overflow: hidden;
    margin: 10px 30px 10px 10px;
}
.bl2-profile img{
   height: 80px;
   width: 70px;
   margin: 0px;
}

.bl2-view{
    height: 80px;
    width: 90%;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bl2-view input{
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
}
.bl2-view button{
    height: 40px;
    width: 60px;
    border-radius: 20px;
    border: none;
    font-size: 20px;

    
}
.bl2-view a{
    color: black;
    background-color: #fff;
    height: 40px;
    width: 60px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 20px;

}

.blog3 img{
    height: 30vh;
    width: 96%;
    margin:10px 10px;
    border-radius: 50px;
}
.bl3-desc{
    color: #fff;
    margin: 10px 20px;
    font-size: 20px;
    height: 60px;
}
.bl3-profile{
    height: 80px;
    width: 80%;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    width: 90%;
}

.owner3{
    height: 70px;
    width: 70px;
    border-radius: 50px;
    overflow: hidden;
    margin: 10px 30px 10px 10px;
}
.bl3-profile img{
   height: 80px;
   width: 70px;
   margin: 0px;
}
.views-blog3{
    color: #fff;
    margin-left: 180px;
}


.blog1-details{
    background-color: aliceblue;
    height: auto;
    width: 100%;
    background-color: black;
    padding-bottom: 30px;
}
.blog1-details-container h2{
    color: beige;
    margin-top: 100px;
    margin-left: 20%;
    font-size: 35px;
}
.blog1-details-container h3{
      font-size: 30px;
      font-style: italic;
      margin-top: 100px;
      margin-left: 200px;
      margin-bottom: 50px;
      color: rgb(116, 56, 194);
      
}
.blog1-details-container img{
    margin-left: 200px ;
    margin-bottom: 30px;
    width: 80%;
}
.blog1-details-container p{
    margin-left: 200px;
    width: 70%;
    font-size: 20px;
    font-style: italic;
    color: #fff;
    line-height: 30px;
}
.blog1-comment-section{
    height: 15vh;
    width: 80%;
    margin: 100px 0px 100px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.blog1-comment-container{
    background-color: rgba(216, 223, 231, 0.644)
    height: 50px;
    width: 70%;
    display: flex;
    margin: 0px 0px 20px 100px;
    align-items: center;
    
}
.blog1-comment-container span{
    margin: 0px 10px;
    color: #fff;
    font-size: 20px;
    background-color: rgb(102, 99, 99);
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    transition: .3s;

}
.blog1-comment-container-hover:hover{
    background-color: rgb(121, 31, 206);
}
.blog1-comment{
    height: 40px;
    width: 90%;
    margin: 0px 100px;
    color: #fff;
    border: none;
    border-bottom: 2px solid hwb(0 96% 3%);
    background-color: black;
    outline: none;
    font-size: 18px;
}