*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}
body{
    background-color: rgb(162, 0, 255,5%);
}
.container{
}
.container-header{
    padding: 10px 5%;
    background-color: #fff;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.div-logo{
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    height: 70px;
    width: 70px;
}
.logo{
    width: 80px;
    position: absolute;
    margin-left: -6px;
    margin-top: 10px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}
nav ul li a:hover{
    color:blueviolet;
}
.special{
    background-color: blueviolet;
    height: 46px;
    width: 81px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    transition: .3s;
}
.special:hover{
    background-color: rgb(128, 21, 228, 40%);
    color:black
}
.container-body{

    width: 100%;
    padding: 100px 0px;
}
.body-main{
    margin: 0px 200px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.body-text{
    display: block;
    margin: 50px 0px;
}
.body-image{
    width: 730px;
    border-radius: 30px;
}
.footer{
    height: 50px;
    width: 100%;
    background-color: blueviolet;
    
}
.more-button{
    height: 46px;
    width: 81px;
    background-color: blueviolet;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    transition: .3s;
}
.more-button:hover{
    background-color: rgb(128, 21, 228, 40%);
    color:black
}
