*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}
body{
    background: F8F5FB;
}
.container-header{
    padding: 10px 5%;
    background-color: rgb(199, 109, 109);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.logo{
    width: 80px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}
nav ul li a:hover{
    color:blueviolet;
}
.container-body{
    margin:150px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}